<div class="row">
    <div class="col-md-6 offset-md-3 animated bounceInDown">
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <canvas id="myCanvas" width="64" height="64" [style.background-color]="Color" style="width: 64px; height: 64px; margin: 0px 5px; border-radius: 5px;"></canvas>
                    </div>
                    <div class="col-md-10">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{Post.Alias}}</strong>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-2 col-md-9">
                        <div class="text-muted pt-3">
                            <h2 class="post-description">{{Post.Description}}</h2>
                        </div>
                    </div>
                </div>

                
                <comment-container 
                    [CanShowComments]="CanShowComments" 
                    [Comments]="Post.Comments">
                </comment-container>

                <actions-comment-container (AllowShowCommentEvent)="ReciveAllowShowComments($event)" [Comments]="Post.Comments"></actions-comment-container>

            </div>
        </div>
    </div>
</div>