<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"> Top Secrect <img src="../../../../assets/secrectwhite.png" width="50" height="50" alt=""></a>
    <form class="form-inline">
        <h5 class="logged-user">Today i'm: {{User.Alias}}</h5>
        <button *ngIf="false" class="btn btn-outline-primary mr-sm-2" type="button">Notifications <span class="badge">4</span></button>
        <button *ngIf="IsLogged" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout <i class="fas fa-sign-out-alt"></i></button>
    </form>
  </nav>