
<div class="col-md-4 offset-md-4">
    <form  class="form-signin">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Secrect</h1>
                    <p>Here you tell your secret, nobody tells but everyone sees</p>
                </div>
                
                <div class="form-label-group">
                    <label for="inputLogin">Login</label>
                    <input  type="text" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus>
                    <small class="text-danger d-block mt-2">Login is required</small>
                </div>
                
                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input   type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    <small class="text-danger d-block mt-2">Password is required</small>
                </div>
            </div>
        </div>

        <div class="row action-btns">
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary btn-block" (click)="LogIn()" onclick="return false;" >Sign in</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-info btn-block">Register</button>
            </div>
        </div>
    </form>
</div>
