
<div class="col-md-4 offset-md-4">
    <form class="form-signin">

        <div class="row">
            <div class="col-md-12">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Secrect</h1>
                    <p>Here you tell your secret, nobody tells but everyone sees</p>
                </div>
                
                <div class="form-label-group">
                    <label for="inputLogin">Login</label>
                    <input type="text" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="">
                
                </div>
                
                <div class="form-label-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                </div>
            </div>
        </div>

        <div class="row action-btns">
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-info btn-block" type="submit">Register</button>
            </div>
        </div>
        
    </form>
</div>
