<div class="row">
    <div class="col-md-4">
            <small class="d-block text-right mt-3">
                <a href="#">Total Comments: <span class="badge">{{Comments.length}}</span>  <i class="fas fa-comments"></i> </a>
            </small>
    </div>
    <div class="col-md-2">
            <small class="d-block text-right mt-3">
                <a href="#"></a>
            </small>
    </div>
    <div class="col-md-3">
            <small class="d-block text-right mt-3">
                <a href="#"></a>
            </small>
    </div>
    <div class="col-md-3">
        <small class="d-block text-right mt-3">
            <a href="#"(click)="newComment()" onclick="return false;">new comment <i class="fas fa-comment"></i></a>
        </small>
    </div>
</div>